/* This css code helps me set the spacing that I want */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#app {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

/* This controls that the header is centered */
h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

/*This is what sets up each of the groups that are made in the Users List (in the Javascript) This makes it look nice */
li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

/*This makes it so that my <strong> code in JS turns blue. it makes it stand out more */
strong {
    color: #007bff;
}

/*This is what divides the groups in the Users List, it looked pretty ugly all bunched up together */
li > div {
    margin-bottom: 5px;
}